absl-py==0.12.0
astroid==2.5.2
astunparse==1.6.3
attrs==20.3.0
Automat==20.2.0
autopep8==1.5.6
beautifulsoup4==4.9.3
cachetools==4.2.2
cairocffi==1.2.0
certifi==2020.12.5
cffi==1.14.3
chardet==4.0.0
click==8.0.1
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
Flask==1.1.1
flatbuffers==1.12
gast==0.4.0
google-auth==1.30.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.34.1
grpcio-tools==1.33.2
h5py==3.1.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
isort==5.8.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
lxml==4.6.3
manimce==0.1.0
manimlib==0.1.11
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
mccabe==0.6.1
numpy==1.19.4
oauthlib==3.1.1
opencv-python==4.4.0.46
opt-einsum==3.3.0
pandas==1.2.4
pangocairocffi==0.3.2
pangocffi==0.6.0
parsel==1.6.0
pathtools==0.1.2
Pillow==8.0.1
progressbar==2.5
Protego==0.1.16
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycodestyle==2.7.0
pycparser==2.20
PyDispatcher==2.0.5
pydub==0.24.1
Pygments==2.7.2
pylint==2.7.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
queuelib==1.5.0
requests==2.25.1
requests-oauthlib==1.3.0
rich==6.2.0
rsa==4.7.2
scipy==1.5.4
Scrapy==2.4.1
scrapy-GUI==1.2
service-identity==18.1.0
six==1.15.0
soupsieve==2.2.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
toml==0.10.2
torch==1.8.1
torchvision==0.9.1
tqdm==4.51.0
Twisted==21.2.0
typing-extensions==3.7.4.3
urllib3==1.26.4
w3lib==1.22.0
watchdog==0.10.3
Werkzeug==0.16.0
wrapt==1.12.1
xcffib==0.10.1
zope.interface==5.3.0
